.page-not-found-container {
    margin: 5% 0;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .page-not-found-title {
    margin-top: 50px;
    font-size: 50px;
    color: white;
  }
  
  #four-o-four-img {
    margin-top: 20px;
    width: 500px;
    height: auto;
    mix-blend-mode:color-dodge;
  }
  
  .page-not-found-home-link {
    display: flex;
    background-color: #b3ed40;
    font-size: 22px;
    font-weight: 500;
    padding: 7px 10px;
    margin-top: 25px;
    border-radius: 30px;
    width: 225px;
    justify-content: center;
    cursor: pointer;
    color: black;
  }

  a:link {
    text-decoration: none;
  }
  
  /* Width 700 */
  @media only screen and (max-width: 700px) {
    #four-o-four-img {
      width: 300px;
    }
  
    .page-not-found-title {
      font-size: 30px;
    }

    .page-not-found-container {
      margin-top: 100px;
    }
  }

  /* Width 450 */
  @media only screen and (max-width: 450px) {
    .page-not-found-container {
      margin-top: 140px;
    }
  }