.signup-form {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.already-have-account {
    margin-top: 10px;
    font-size: 16px;
    color: #b3ed40;
    background-color: transparent;
    align-self: flex-start;
    cursor: pointer;
}