.about-parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 35px 40px;
    position: relative;
}

.about-blurb-about {
    font-size: 18px;
    max-width: 850px;
    font-weight: 400;
    padding-bottom: 15px;
}

.about-blurb-welcome {
    font-size: 18px;
    max-width: 850px;
    font-weight: 500;
    padding-bottom: 15px;
}

.about-blurb-last {
    font-weight: 400;
    font-size: 18px;
    max-width: 850px;
    color: gray;
}

.outside-link {
    color: #b3ed40;
  }

.modal-cancel-about-button {
    color: #B8B8B8;
    position: absolute;
    right: 35px;
    top: 28px;
    border: 1px solid #B8B8B8;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: transparent;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
    cursor: pointer;
}

.modal-cancel-about-button:hover {
    color: black;
    background-color: #b3ed40;
    border: none;
}

/* Width 950 */
@media only screen and (max-width: 950px) {
    .about-blurb-about {
        font-size: 16px;
        max-width: 550px;
    }

    .about-blurb-welcome {
        font-size: 16px;
        max-width: 550px;
    }

    .about-blurb-last {
        font-size: 16px;
        max-width: 550px;
    }
}

/* Width 650 */
@media only screen and (max-width: 650px) {
    .about-blurb-about {
        max-width: 300px;
    }

    .about-blurb-welcome {
        max-width: 300px;
    }

    .about-blurb-last {  
        max-width: 300px;
    }
}