.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
}

.about-blurb {
    font-size: 22px;
    max-width: 850px;
}