*, *:before, *:after {
    box-sizing: border-box;
}

.bid-machine-parent {
    padding: 140px 55px 0px 55px;
}

.main-bidmachine-container {
    display: flex;
    justify-content: center;
}

.bidmachine-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#edit-job-factors-button {
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 30px;
    min-width: 165px;
    min-height: 35px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

#edit-job-factors-button:hover {
    background-color: #b3ed40;
    color: black;
    border: 1px solid #b3ed40;
}

.bidmachine-buttons > button {
    margin-left: 3px;
    margin-right: 3px;
}

.bidmachine-container {
    background-color: white;
    height: 420px;
    width: 650px;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.factor-line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.applied {
    font-size: 17px;
    font-weight: 600;
}

.not-applied {
    color: rgba(128, 128, 128, 0.7);
    font-size: 17px;
    font-weight: 600;
}

#family-friend-button {
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    transition: background-color 0.5s, border 0.5s;
}

#family-friend-button.active {
    border: 1px solid #56565B;
    background-color: #b3ed40;
}

#family-friend-slider {
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    transition: background-color 0.5s, border 0.5s, margin-left 0.5s;
}

#family-friend-slider.active-slider {
    border: 1px solid #56565B;
    background-color: #56565B;
    margin-left: 50px;
}