#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    border-top: 1px solid rgb(174, 174, 174);
    background-color: white;
  }
  
  .sticky-footer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background-color: #56565B;
  }
  
  .footer-flex {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-item {
    font-size: 18px;
    font-weight: 400;
    padding: 16px 85px;
    color: white;
  }
  
  .about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 50px;
  }
  
  #created-by {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    color: white;
  }
  
  #github {
    width: 30px;
    height: auto;
    padding: 0 15px;
  }
  
  #linkedin {
    width: 40px;
    height: auto;
  }