#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  #modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(33, 33, 33, 0.75);
    z-index: 9;
  }
  
  #modal-content {
    position: absolute;
    background-color: white;
    min-width: 300px;
    width: max-content;
    border-radius: 15px;
    z-index: 10;
    overflow-y: auto;
    max-height: 100vh;
  }
  
  .closeModal {
    position: absolute;
    right: 8px;
    top: 4px;
    font-weight: 600;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 0 3px;
    color: gray;
    cursor: pointer;
  }
  