.add-job-form {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    position: relative;
}

.add-job-input {
    margin-left: 2px;
    min-width: 450px;
    font-size: 16px;
    padding: 2px 5px;
}

.add-job-description {
    margin-top: 5px;
    margin-left: 2px;
    min-width: 450px;
    min-height: 65px;
    font-size: 16px;
    padding: 2px 5px;
    border: 1px solid #B8B8B8;
    border-radius: 10px;
}

.dollar-symbol {
    margin-left: 2px;
    color: #B8B8B8;
}

/* Width 600 */
@media only screen and (max-width: 600px) {
    .add-job-input {
        min-width: 305px;
    }
    
    .add-job-description {
        min-width: 305px;
    }
}