.your-jobs {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
  }

td {
    padding: 10px;
    border-bottom: 1px solid white;
    vertical-align: top;
    font-size: 18px;
} 

th {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-size: 20px;
}

.add-job {
    position: absolute;
    right: 60px;
    top: 120px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 30px;
    min-width: 165px;
    min-height: 35px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.add-job:hover {
    background-color: #b3ed40;
    color: black;
    border: 1px solid #b3ed40;
}

.fixtures-container {
    text-align: center;  
}

.main-job-container {
    padding: 190px 40px 100px 40px; 
    color: white;
}

/* Width 1000 */
@media only screen and (max-width: 1000px) {
    td {
        font-size: 15px;
    } 
    
    th {
        font-size: 16px;
    }

    .main-job-container {
        overflow-x: scroll;
    }
    
    .add-job {
        font-size: 16px;
        padding: 6px 8px;
    }
}

/* Width 700 */
@media only screen and (max-width: 700px) {
    .add-job {
        margin-top: 25px;
    }

    .main-job-container {
        padding-top: 200px;
    }
}

/* Width 450 */
@media only screen and (max-width: 450px) {
    .add-job {
        margin-top: 70px;
    }

    .main-job-container {
        padding-top: 225px;
    }
}