.your-jobs {
    margin-bottom: 50px;
}

td {
    padding: 10px;
    border: 1px solid grey;
} 

th {
    border: 2px solid black;
}

.add-job {
    position: absolute;
    right: 10px;
    top: 80px;
    font-size: 22px;
    padding: 10px;
}
