/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
  box-sizing:border-box;
}

main {
  background-color: #3b3b43;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #3b3b43 30px ), repeating-linear-gradient( #00000055, #000000 );
}

.modal-title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 2px;
}

.modal-line-item {
  border-bottom: 1px solid #B8B8B8;
}

.modal-label {
  padding-top: 15px;
  padding-left: 5px;
  font-size: 17px;
}

.goog-symbol {
  font-size: 10px;
  color: #B8B8B8;
  padding-left: 6px;
}

.modal-input {
  margin-left: 15px;
  min-width: 350px;
  font-size: 16px;
  padding: 2px 5px;
}

.modal-input::placeholder {
  color: #B8B8B8;
}

.modal-main-button {
  background-color: #b3ed40;
  font-size: 22px;
  padding: 7px 10px;
  margin-top: 25px;
  border-radius: 30px;
  width: 225px;
  align-self: center;
  cursor: pointer;
}

.modal-cancel-button {
  color: #B8B8B8;
  position: absolute;
  right: 30px;
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: transparent;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
  cursor: pointer;
}

.modal-cancel-button:hover {
  color: black;
  background-color: #b3ed40;
  border: none;
}

.form-errors {
  color: red;
  padding: 0px 25px 15px 25px;
}

/* Width 800 */
@media only screen and (max-width: 800px) {
  .form-errors {
    max-width: 500px;
  }
}

/* Width 600 */
@media only screen and (max-width: 600px) {
  .modal-title {
    font-size: 26px;
  }

  .modal-label {
    padding-top: 15px;
    padding-left: 5px;
    font-size: 17px;
  }

  .modal-input {
    margin-left: 15px;
    min-width: 250px;
    font-size: 14px;
    padding: 2px 5px;
  }

  .modal-main-button {
    font-size: 18px;
    padding: 7px 10px;
    margin-top: 25px;
    width: 150px;
  }

  .form-errors {
    max-width: 290px;
  }
}