/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
  box-sizing:border-box;
}

main {
  background-color: #3b3b43;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #3b3b43 30px ), repeating-linear-gradient( #00000055, #000000 );
}