.welcome {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.welcome-mobile {
  display: none;
}

.splash-container {
  padding-top: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.splash-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 400px;
  width: 400px;
  font-size: 30px;
  border-radius: 45px;
  transition: box-shadow 0.5s;
}

.splash-button:hover {
  box-shadow: 5px 5px 1px 4px #b3ed40;
}

.material-symbols-outlined {
  transform: scale(2);
}

.not-logged-in-container {
  display: flex;
  justify-content: space-evenly;
  padding: 120px 100px 50px 100px;
  color: white;
  gap: 25px
}

.not-logged-in-left {
  max-width: 360px;
}

.not-logged-in-right {
  max-width: 650px;
  font-size: 30px;
  font-weight: 400;
}

.about-blurb {
  font-size: 18px;
  max-width: 850px;
  font-weight: 400;
  padding-bottom: 15px;
}

.welcome-left {
  padding-bottom: 26px;
}

.outside-link {
  color: #b3ed40;
}

.instructions {
  border-bottom: 1px solid white;
  padding: 10px;
}

.last-instruction {
  padding: 10px;
}

#green-button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #b3ed40;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/* Width 1300 */
@media only screen and (max-width: 1300px) {
  .instructions {
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 24px;
  }

  .last-instruction {
    padding: 10px;
    font-size: 24px;
  }
}

/* Width 900 */
@media only screen and (max-width: 900px) {
  .about-blurb {
    font-size: 16px;
    max-width: 550px;
    font-weight: 400;
    padding-bottom: 15px;
  } 

  #green-button {
    padding: 6px 20px;
    font-size: 14px;
  }

  .welcome-mobile {
    display: flex;
    font-size: 30px;
  }

  .not-logged-in-left {
    display: none;
  }

  .splash-button {
    gap: 30px;
    height: 300px;
    width: 300px;
    font-size: 25px;
  }
}

/* Width 700 */
@media only screen and (max-width: 700px) {
  .splash-container {
    padding-top: 180px;
    padding-bottom: 20px;
  }
}

/* Width 600 */
@media only screen and (max-width: 600px) {
  .not-logged-in-container {
    padding: 150px 70px 50px 70px;
  }

  .instructions {
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 20px;
  }

  .last-instruction {
    padding: 10px;
    font-size: 20px;
  }
}

/* Width 450 */
@media only screen and (max-width: 450px) {
  .splash-container {
    padding-top: 220px;
  }
}
