.welcome {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.splash-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.splash-button {
    height: 400px;
    width: 400px;
    font-size: 30px;
}

.not-logged-in-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 50px 100px;
    color: white;
}

.not-logged-in-left {
    max-width: 360px;
}

.not-logged-in-right {
    max-width: 650px;
    font-size: 30px;
    font-weight: 400;
}

.about-blurb {
    font-size: 18px;
    max-width: 850px;
    font-weight: 400;
    padding-bottom: 15px;
}

.welcome-left {
    padding-bottom: 26px;
}

.outside-link {
    color: #D0FF71;
}

